.tab{
    padding: 20px;
    border: 10px dashed $main-color;
    border-top: none;
    border-bottom: none;
    opacity: 0;
    transition: 1.5s;
    margin: 0 auto;
    // column-count: 2;
    // column-gap: 20px;
    height: auto;
    display: flex;
}

.tab p {
    letter-spacing: 1px;
}

.tab img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-top: 20px;
}
